<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>{% block page_title %}{% endblock page_title %} - Spectrum</title>

    <link href="{% static 'css/bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block page_head %}{% endblock page_head %}
  </head>

  <body>
    <nav class="navbar navbar-sidebar navbar-dark navbar-fixed-left bg-primary">
            <a class="navbar-brand" href="/">Interaction System<span class="navbar-parent-brand"> by <em>Spectrum</em></span></a>                   
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Book Rating</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Book Database</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Advanced Recommendations</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Book -> Feedback Form</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Preference and History</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-md nav-link" href="/interaction_system/book_rating/">Other Survey Forms</a>
                </li>
            </ul>
    </nav>
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-xs-12 text-xs-right text-md-center">
                <div class="card-block">
                    <p class="card-text">Logged in as <strong class="card-username">{{ request.user.first_name }} {{ request.user.last_name }}</strong><a href="/login/" class="btn btn-secondary btn-sm">Logout</a></p>
                </div>
            </div>
            <div class="col-xs-12 content-body">
                {% block page_content %}{% endblock page_content %}
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap4.min.js' %}"></script>
    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>
