{% extends "interaction_system/base.html" %}

{% block page_title %}{% block mod_title %}{% endblock mod_title %} // Interaction System - User Profile{% endblock page_title %}
{% block page_head %}{% endblock page_head %}

{% block body %}
<h1>User Profile</h1>
<form method="POST" class="form-horizontal">{% csrf_token %}
  {{ user_form.as_p }}
  {{ location_form.as_p }}
  {{ qualification_form.as_p }}
{{ profile_form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock body %}
