{% extends "google_books/base.html" %}

{% block page_title %}Add Book{% endblock page_title %}
{% block sub_navigation_title %}Add Book{% endblock sub_navigation_title %}

{% block body %}

  <div class="query row">
    <div class="col-sm-12 col-xs-12 my-3">
      <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ book_form.errors }}
        {{ book_form.non_field_errors }}
        {{ book_profile_form.errors }}
        {{ book_profile_form.non_field_errors }}
        <div class="row">
          <div class="col-lg-3 col-xs-6 my-3">
              <div class="card">
                <label>
                  <img class="card-img-top" width="100%" src="{{ item.raw_thumbnail }}&amp;zoom=1">
                  <div class="card-footer text-muted">
                    <input type="radio" name="cover_image_link" value="{{ item.raw_thumbnail }}&amp;zoom=1" checked=""/> Zoom Level 1
                  </div>
                </label>
              </div>
          </div>
          <div class="col-lg-3 col-xs-6 my-3">
              <div class="card">
                <label>
                  <img class="card-img-top" width="100%" src="{{ item.raw_thumbnail }}&amp;zoom=2">
                  <div class="card-footer text-muted">
                    <input type="radio" name="cover_image_link" value="{{ item.raw_thumbnail }}&amp;zoom=2"/> Zoom Level 2
                  </div>
                </label>
              </div>
          </div>
          <div class="col-lg-3 col-xs-6 my-3">
              <div class="card">
                <label>
                  <img class="card-img-top" width="100%" src="{{ item.raw_thumbnail }}&amp;zoom=3">
                  <div class="card-footer text-muted">
                    <input type="radio" name="cover_image_link" value="{{ item.raw_thumbnail }}&amp;zoom=3"/> Zoom Level 3
                  </div>
                </label>
              </div>
          </div>
          <div class="col-lg-3 col-xs-6 my-3">
              <div class="card">
                <label>
                  <img class="card-img-top" width="100%" src="{{ item.raw_thumbnail }}&amp;zoom=4">
                  <div class="card-footer text-muted">
                    <input type="radio" name="cover_image_link" value="{{ item.raw_thumbnail }}&amp;zoom=4"/> Zoom Level 4
                  </div>
                </label>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="volume_id" class="form-control-label">Volume ID</label>
          <input class="form-control" name="volume_id" id="volume_id" type="text" value="{{item.id}}"/>
        </div>
        <div class="form-group">
          <label for="title" class="form-control-label">Title</label>
          <input class="form-control" name="title" id="title" type="text" value="{{item.title}}" />
        </div>
        <div class="form-group">
          <label for="isbn" class="form-control-label">ISBN</label>
          <input class="form-control" name="isbn" id="isbn" type="text" value="{% for id in item.isbn %}{{ id.type }}:{{ id.identifier }}, {% endfor %}" />
        </div>
        <div class="form-group">
          <label for="description" class="form-control-label">Description</label>
          <textarea class="form-control" name="description" id="description">{{item.description}}</textarea>
        </div>
        <div class="form-group">
          <label for="publication_date" class="form-control-label">Publication Date</label>
          <input class="form-control" name="publication_date" id="publication_date" type="date" value="{{item.published_date}}" />
        </div>
        <div class="form-group">
          <label for="publisher" class="form-control-label">Publisher</label>
          <input class="form-control" name="publisher" id="publisher" type="text" value="{{% item.publisher }}" />
        </div>
        <div class="form-group">
          <label for="author" class="form-control-label">Author</label>
          <input class="form-control" name="author" id="author" type="text" value="{% for a in item.authors %}{{ a }}, {% endfor %}" />
        </div>
        <div class="form-group">
          <label for="tags" class="form-control-label">Tags</label>
          <input class="form-control" name="tags" id="tags" type="text" value="{% for a in item.tags %}{{ a }}, {% endfor %}" />
        </div>
        <div class="form-group">
          <label for="page_count" class="form-control-label">Page Count</label>
          <input class="form-control" name="page_count" id="page_count" type="number" value="{{item.page_count}}" />
        </div>
        <div class="form-group">
          <label for="rating" class="form-control-label">Rating</label>
          <input class="form-control" name="rating" id="rating" type="number" value="{{item.avg_rating}}" />
        </div>
        <div class="form-group">
          <label for="rating_count" class="form-control-label">Rating Count</label>
          <input class="form-control" name="rating_count" id="rating_count" type="number" value="{{item.ratings_count}}" />
        </div>
        <div class="form-group">
          <label for="language" class="form-control-label">Language</label>
          <input class="form-control" name="language" id="language" type="text" value="{{item.language}}" />
        </div>
        <div class="form-group">
          <label for="cost" class="form-control-label">Cost</label>
          <input class="form-control" name="cost" id="cost" type="text" value="{{ item.sale_amount.currencyCode }} {{ item.sale_amount.amount }}" />
        </div>

        <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div>
  </div>

{% endblock body %}

{% block page_scripts %}{% endblock page_scripts %}
