{% extends "google_books/base.html" %}

{% block page_title %}Add Book{% endblock page_title %}
{% block sub_navigation_title %}Add Book{% endblock sub_navigation_title %}

{% block body %}

<form class="login mb-5" method="GET" action="{% url 'book_search' %}">
  <div class="form-group row">
    <div class="col-sm-12 col-md-10">
      <input name="q" class="form-control" type="search" placeholder="The Three Musketeers / isbn:768621369821 / author:Chetan Bhagat" id="search-input">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>

{% if item %}
  <div class="query row">
  <div class="query row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-3">
      <form method="POST" class="form-horizontal">
        <input type='hidden' name='csrfmiddlewaretoken' value='3M4zUQBrs8OyKmng02ohNm7QxRvnLQnpMqM0jYiZjOuSuyNi8CuepFcFE7wiZ3cM' />


        <div id="div_id_uid" class="form-group"> <label for="id_uid" class="form-control-label  requiredField">
                Uid<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_uid" maxlength="256" name="uid" type="text" required /> </div> </div> <div id="div_id_title" class="form-group"> <label for="id_title" class="form-control-label  requiredField">
                Title<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_title" maxlength="256" name="title" type="text" required /> </div> </div>



        <div id="div_id_book" class="form-group"> <label for="id_book" class="form-control-label  requiredField">
                Book<span class="asteriskField">*</span> </label> <div class=""> <select class="select form-control" id="id_book" name="book" required>
        <option value="" selected="selected">---------</option>
        </select> </div> </div> <div id="div_id_description" class="form-group"> <label for="id_description" class="form-control-label  requiredField">
                Description<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_description" maxlength="1024" name="description" type="text" required /> </div> </div> <div id="div_id_authors" class="form-group"> <label for="id_authors" class="form-control-label  requiredField">
                Authors<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_authors" maxlength="1024" name="authors" type="text" required /> </div> </div> <div id="div_id_publisher" class="form-group"> <label for="id_publisher" class="form-control-label  requiredField">
                Publisher<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_publisher" maxlength="256" name="publisher" type="text" required /> </div> </div> <div id="div_id_publication_year" class="form-group"> <label for="id_publication_year" class="form-control-label  requiredField">
                Publication year<span class="asteriskField">*</span> </label> <div class=""> <input class="numberinput form-control" id="id_publication_year" name="publication_year" type="number" required /> </div> </div> <div id="div_id_thumbnail" class="form-group"> <label for="id_thumbnail" class="form-control-label  requiredField">
                Thumbnail<span class="asteriskField">*</span> </label> <div class=""> <input class="textinput textInput form-control" id="id_thumbnail" maxlength="1024" name="thumbnail" type="text" required /> </div> </div> <div id="div_id_tags" class="form-group"> <label for="id_tags" class="form-control-label  requiredField">
                Tags<span class="asteriskField">*</span> </label> <div class=""> <input class="tagwidget form-control" id="id_tags" name="tags" type="text" required /> <small id="hint_id_tags" class="text-muted">A comma-separated list of tags.</small> </div> </div>

        <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div>
  </div>
{% endif %}

{% endblock body %}

{% block page_scripts %}{% endblock page_scripts %}
