{% extends "google_books/base.html" %}

{% block page_title %}Search{% endblock page_title %}

{% block page_head %}{% endblock page_head %}

{% block content %}

<form class="login" method="GET" action="{% url 'book_search' %}">
  <div class="form-group row">
    <div class="col-10">
      <input name="q" class="form-control" type="search" placeholder="The Three Musketeers / isbn:768621369821 / author:Chetan Bhagat" id="search-input">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
<h1 class="text-center results">{{ query|default:" " }}</div>
{% endblock content %}

{% block page_scripts %}{% endblock page_scripts %}
