{% extends "google_books/base.html" %}

{% block page_title %}Search{% endblock page_title %}

{% block page_head %}{% endblock page_head %}

{% block content %}

<h2 class="text-center">Google Book Search</h2><br/>

<form class="login" method="GET" action="{% url 'book_search' %}">
  <div class="form-group row">
    <div class="col-10">
      <input name="q" class="form-control" type="search" placeholder="The Three Musketeers / isbn:768621369821 / author:Chetan Bhagat" id="search-input">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>


<h3 class="title">{{ query|default:" " }}</h3>
{% if results %}
  <div class="query row">
    {% for item in results %}
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <img class="card-img-top" height="200rem" src="{{ item.thumbnail|default:"https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" }}">
          <div class="card-block">
            <h4 class="card-title">{{item.title}}</h4>
            <h6 class="card-subtitle mb-2">{{item.authors|default:"unknown"}}</h6>
            <p class="card-text">{{ item.description|default:item.alt_description|default:" " }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Publisher : {{ item.publisher|default:" - " }}</li>
            <li class="list-group-item">Publication Date : {{ item.published_date|default:" - " }}</li>
            <li class="list-group-item">ISBN {{ item.isbn|default:" - " }}</li>
            <li class="list-group-item">Categories <strong>{{ item.category|default:" - " }}</strong>; {{ item.tags|default:" - " }}</li>
          </ul>
          <div class="card-block">
            <a href="#" class="btn btn-primary">Add to database</a>
          </div>
          <div class="card-footer text-muted">
            Pgs. {{ item.page_count|default:"-" }} | Rating : {{ item.avg_rating|default:"-" }} ({{ item.ratings_count|default:"-" }} counts)
            | {{ item.language|default:"EN?" }} {% if item.sale_amount %}| {{ item.sale_amount.currencyCode }} {{ item.sale_amount.amount }}{% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock content %}

{% block page_scripts %}{% endblock page_scripts %}
