/*// Pages // Login //*/

#login-page {
  color: white;
  background-color:#1b5b92;
}

#login-page .form {
  max-width: 22rem;
  padding: 1rem;
  margin: 0 auto;
}

#login-page .form .form-heading {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#login-page .form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.8rem;
  font-size: 1rem;
}

#login-page .form .form-control:focus {
  z-index: 2;
}

#login-page .form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login-page .form input[type="password"] {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Mobile First */

.main-container {
  margin-bottom: 2rem;
}

.card-username {
  padding-right: 3rem;
}

.module-navbar {
  margin-bottom: 1rem;
}

.navbar-fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  z-index: 1030;
  height: 100%;
}

.navbar-fixed-left ul::-webkit-scrollbar {
    width: 0.3rem;
}

.navbar-fixed-left ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1rem;
}

.navbar-fixed-left ul::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    border-radius: 1rem;
}

.navbar-parent-brand {
  color: #DDD;
  font-size: 0.6em;
}



/* Small */
@media (max-width: 768px) {

  .main-container {
    margin-top: 75px;
  }

  .navbar-fixed-left {
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
  }

  .navbar-fixed-left ul {
    position: static;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .navbar-sidebar ul {
    line-height: 2.5rem;
  }

  .navbar-sidebar li {
    padding: 0 0.2rem;
    display: inline;
  }

  .navbar-parent-brand {
    display: none;
  }

}

/* Large */
@media (min-width: 768px) {

  .navbar-fixed-left ul {
    position: static;
    overflow-y: auto;
    height: 70%;
    height: -moz-calc(100% - (6rem));
    height: -webkit-calc(100% - (6rem));
    height: calc(100% - (6rem));
  }

  .main-container {
    position: absolute;
    left: 15rem;
    right: 1rem;
  }

  .navbar-sidebar {
    width: 14rem;
  }

  .navbar-sidebar .nav {
    margin-top: 5rem;
  }

  .navbar-sidebar a.nav-link {
    text-align: left;
    margin-bottom: 0.4rem;
    width: 100%;
  }

}
