<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>{% block page_title %}{% endblock page_title %} - Spectrum</title>

    <link href="{% static 'css/bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block page_head %}{% endblock page_head %}
  </head>

  <body>
    <div class="container-fluid main-container">

      {% if messages %}
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
    	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
    	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    	{% else %}
    	<li><a href="{% url 'account_login' %}">Sign In</a></li>
    	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    	{% endif %}

      {% block body %}{% endblock body %}

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap4.min.js' %}"></script>
    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>
