{% extends "allauth/base.html" %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block page_title %}Login{% endblock page_title %}
{% block body %}

      {% if socialaccount_providers %}
      <p>Sign in using </p>
      <ul class="nav nav-pills nav-justified">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      {% endif %}

      <div class="w-50 p-3">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-group" >
            <label for="exampleInputEmail1">Email address</label>
            <input name="login" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="id_remember">Remember Me:</label>
            <input id="id_remember" name="remember" type="checkbox" />
          </div>


          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a><br/>
          <button type="submit" class="btn btn-primary primaryAction">Submit</button>
        </form>
      </div>
{% endblock body %}


{% block page_scripts %}
  {% if socialaccount_providers %}
    {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}
{% endblock page_scripts %}
