{% extends "uform/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}3. Career Form{% endblock page_title %}
{% block sub_navigation_title %}3. Career Form{% endblock sub_navigation_title %}

{% block body %}
      <div class="col-sm-12 p-3">
        <h4>Select all that apply to you.</h4>
        <form method="POST" class="form-horizontal">
          {% csrf_token %}

          <div id="career-checks" class="justify-content-center mx-auto text-center">
            {% for k in career_form.career_keywords %}
              <span class="mx-3 my-2 btn btn-sm pt-2 {% if k.choice_value in k.value %}btn-primary{% endif %}">
                {{ k }}
              </span>
            {% endfor %}
          </div>
          <div class="justify-content-center mx-auto text-center my-3">
            <button type="submit" class="save btn btn-success content">Save &amp; Continue</button>
          </div>
        </form>
      </div>
{% endblock body %}
