{% extends "uform/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}5. Interest Form{% endblock page_title %}
{% block sub_navigation_title %}5. Interest Form{% endblock sub_navigation_title %}

{% block body %}
      <div class="col-md-6 col-sm-12 p-3">
        <form method="POST" class="form-horizontal">
          {% csrf_token %}
          {% for k in interest_form.interest_keywords %}
            {{ k }} - {{ form.mycheckbox.value }}<br/>
          {% endfor %}
          <button type="submit" class="save btn btn-default">Save</button>
        </form>
      </div>
{% endblock body %}
