{% extends "uform/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}5. Interest Form{% endblock page_title %}
{% block sub_navigation_title %}5. Interest Form{% endblock sub_navigation_title %}

{% block body %}
      <div class="col-sm-12 p-3">
        <form method="POST" class="form-horizontal">
          {% csrf_token %}

          <div id="interest-checks" class="justify-content-center mx-auto text-center">
            {% for k in interest_form.interest_keywords %}
              <span class="mx-3 my-1 btn btn-lg {% if k.choice_value in k.value %}btn-primary{% else %}btn-default{% endif %}">
                {{ k }}
              </span>
            {% endfor %}
          </div>
          <div class="justify-content-center mx-auto text-center">
            <button type="submit" class="save btn btn-default content">Save</button>
          </div>
        </form>
      </div>
{% endblock body %}
