{% extends "uform/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}1. Profile Form{% endblock page_title %}
{% block page_head %}1. Profile Form{% endblock page_head %}

{% block body %}
      <div class="col-md-6 col-sm-12 p-3 ">
        <form method="POST" class="form-horizontal">
          {% csrf_token %}
          {{ user_form|crispy }}
          {{ qualification_form|crispy }}
          {{ profile_form|crispy }}
          <button type="submit" class="save btn btn-default">Save</button>
        </form>
      </div>
{% endblock body %}
