<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>{% block page_title %}{% endblock page_title %} - Spectrum</title>

    <link href="{% static 'css/bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block page_head %}{% endblock page_head %}
  </head>

  <body>


    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Spectrum Survey</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Forms
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">1. Personal Details</a>
              <a class="dropdown-item" href="#">2. Interest</a>
              <a class="dropdown-item" href="#">3. Location</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rate Books</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rate Recommendations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">1. Normal</a>
              <a class="dropdown-item" href="#">2. Collaborative</a>
              <a class="dropdown-item" href="#">3. Regression</a>
              <a class="dropdown-item" href="#">4. Evolutionary</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WIN PRIZES</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container">
      <nav class="navbar navbar-light bg-primary rounded-bottom">
        <span class="navbar-brand">{% block sub_navigation_title %}{% endblock sub_navigation_title %}</span>
        {% block sub_navigation %}{% endblock sub_navigation %}
        <form class="form-inline justify-content-end">
          {% if user.is_authenticated %}
          <span>{{ request.user.first_name + request.user.last_name }}</span>
          <a class="btn btn-secondary" role="button" href="{% url 'account_logout' %}">Log Out</a>
          {% else %}
          <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" role="button" href="{% url 'account_login' %}">Log In</a>
            <a class="btn btn-primary" role="button" href="{% url 'account_signup' %}">Sign Up</a>
          </div>
          {% endif %}
        </form>
      </nav>
      {% if messages %}
      <div>
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{message}}</div>
          {% endfor %}
      </div>
      {% endif %}

      {% block body %}{% endblock body %}

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.js' %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap4.min.js' %}"></script>
    <!-- Enable bootstrap 4 theme -->
    <script>window.__theme = 'bs4';</script>
    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>
